<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>收藏网址</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.4.8/lib/theme-chalk/index.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui@2.4.8/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>

    <script src="/js/commonElement.js"></script><!-- 自定义的复用组件 -->

</head>
<body>

    <div id="collection">

        <url-add-dialog :is-show="dialogAddFormVisible" :form="form" @close="close"
            @finished="finished"></url-add-dialog>

    </div>


</body>
</html>


<script>

    var collectionVue=new Vue({
        el:'#collection',
        components:{
            urlAddDialog,
        },
        watch: {
        },
        methods: {
            finished(data){
                if(data.code==200){
                    window.close();
                }else{
                    alert("收藏失败,请重新再试!");
                }
            },
            close:function () {
                this.dialogAddFormVisible=false;
                window.close();
            }
        },
        data: {
            dialogAddFormVisible:true,
            form:{
                name:"${title}",
                url:"${url}",
                location:'默认文件夹',
                pid:0
            },
        },
        created(){//在挂载之前,获取数据,并修改data
            var _this=this;
            util.ajax("/folder/getRootFolderId",{},function (data) {
                if(data!=null){
                    _this.form.pid=data;
                }
            })
        },
    })

</script>