<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>收藏网址</title>

    <script language="JavaScript" src="/js/base.js"></script>

</head>
<body>

    <div id="collection">

        <url-add-dialog :is-show="dialogAddFormVisible" :form="form" @close="close"
            @finished="finished" fasttype="fasttype"></url-add-dialog>

    </div>


</body>
</html>


<script>

    var collectionVue=new Vue({
        el:'#collection',
        components:{
            urlAddDialog,
        },
        watch: {
        },
        methods: {
            finished(data){
                if(data.code==200){
                    window.close();
                }else{
                    alert("收藏失败,请重新再试!");
                }
            },
            close:function () {
                this.dialogAddFormVisible=false;
                window.close();
            }
        },
        data: {
            dialogAddFormVisible:true,
            form:{
                name:"${title}",
                url:"${url}",
                location:'默认文件夹',
                pid:0
            },
        },
        created(){//在挂载之前,获取数据,并修改data
            var _this=this;
            util.ajax("/folder/getRootFolderId",{},function (data) {
                if(data!=null){
                    _this.form.pid=data;
                }
            })
        },
    })

</script>