<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lyj.dao.FolderDao" >


    <update id="update">
        UPDATE folder
        <trim prefix="set" suffixOverrides=",">
            <if test="name!=null">
                name=#{name},
            </if>
            <if test="pid!=null">
                pid=#{pid},
            </if>
            <if test="folderNum!=null">
                folderNum=#{folderNum},
            </if>
        </trim>
        where id = #{id}
    </update>





</mapper>