<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lyj.dao.URLDao" >


    <update id="update">
        UPDATE url
        <trim prefix="set" suffixOverrides=",">
            <if test="url!=null">
                url=#{url},
            </if>
            <if test="name!=null">
                name=#{name},
            </if>
            <if test="folderId!=null">
                folderId=#{folderId},
            </if>
        </trim>
        where id = #{id}
    </update>





</mapper>